/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --display: flex;
  --accent-color: #ff0070;
  --decoreted-color: #ff0070;
  --background-color: #000028;
  --title-font: #000028;
  --hover-color: #353430;
  --title-color: #db00ff;
  --text-color: #F1B2CE;
  --accent-font: 'IBM Plex Mono';
  --background-image: url(/images/cover-image-dark.png);
}